<!DOCTYPE html>
<html>
<head>
  <title>Accelerometer API Specs</title>
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0;" />

  <!-- Test Runner -->
  <script src="/resources/testharness.js"></script>
  <script src="/resources/testharnessreport.js"></script>
</head>
<body>
  <div id="log"></div>
  <!--
    REMOVE THIS

    TESTHARNESS.JS API:

      http://hoppipolla.co.uk/talks/ttwf/testharness.html

    IMPORTANT:

      Create a symbolic link from your hard drive root directory to the 
      Dropbox /HTML5/ so that the testharness.js reference above works 
      without changes.
      For example:
        sudo ln -s ~/Dropbox/TestTWF/MOBILE/resources /resources
    -->
    <script type="text/javascript">
      // add your test here
    </script>
</body>
</html>
